<!DOCTYPE html>
<html>
<head>
  <title>Tshirtstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='header'>
  <!-- Header Image Displayes here -->
  <div id="header_clear"></div>
  <div id="header_right">
  <div id= "cart"><img src="assets/Site/Shopping_Cart.png" height=70px width=70px></div>
  <div><%= link_to "Checkout", '#', class: "btn btn-lg btn-primary" %></div>
  </div>
  </div>
  <div id='menu'>
    <div id="navbar">
      <ul>
        <li><a href="/items">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/admin">Login</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/cart">View Cart</a></li>
      </ul>
    </div> 

  </div>
  
  
  
  <div class="banner">
    
    <div class="login">      <%= link_to "Signup", signup_path, class: "btn btn-lg btn-primary" %> 
                            <%= link_to "Signup", signup_path, class: "btn btn-lg btn-primary" %>  
                            <%= link_to "Logout", logout_path, class: "btn btn-lg btn-primary" %>  
    
    
    </div>
    
  </div>
  
  
  
  <div id='container'>
    <div id='content'>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
  		<%= yield %>
    </div>
    <div id='first-column'>
    	<div class="searchbox">
    		<h2 class="BoxHeaders">Search</h2>
    		<input type="text" name="search" /><input type="submit" value="Search" />
    	</div>
      <div class="box">
        <h2 class="BoxHeaders">Special Offers</h2>
        <img src="/assets/Books/Pict1.jpg" name="Rotating" id="Rotating1" alt="Special Offers	">
    		<script type="text/javascript">
    			RotateImages(1,0);
    		</script>
    	</div>
    	<div class="box">
    		<h2 class="BoxHeaders">Newly Published</h2>
    		<img src="/assets/Books/Pict1.jpg" alt="New Books">
    	</div>
    </div>
  </div>
  <div id='footer'>
    <h6 class="footertext">&copy; T Zone 2015</h6>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
